<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.8/signalr.js" integrity="sha512-voPGnBpu0u6VeIbRafB3L0kgqdESj1drPzsqY2JwDOYmT0/j4x8Hb1Qdrj3X+YPHO1fvHldsH9Jf82vvKDq1eg==" crossorigin="anonymous"></script>

<div id="app">

    <form v-on:submit.prevent="postForm" enctype="multipart/form-data">

        <fieldset>
            
            <legend>Lip Sync</legend>
            
            <div>
                <label for="image">Imagem:</label>
                <input type="file" id="image" name="image" />
                <div id="filedrag_image">or drop files here</div>
            </div>
        
            <div>
                <label for="audio">Audio:</label>
                <input type="file" id="audio" name="audio" />
                <div id="filedrag_audio">or drop files here</div>
            </div>        
        
            <button :disabled='!canSubmit' id="sendButton" type="submit">Begin!</button>

        </fieldset>
    
    </form>
    
    <div class="row">
        <div class="col-6">

              <ul>
                <li v-for="s in statuses">

                    <template v-if="s.percentageProcessed == 100">
                        <a :href="'http://localhost:10000/api/Lip/' + s.processId" download> download </a>
                    </template>

                    <template v-else>
                        {{ s.message }}
                    </template>

                </li>
              </ul>

        </div>
    </div>

</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            canSubmit: false,
            statuses: []
        },
        methods: {
            postForm: function (event) {
                var formData = new FormData(event.target);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://localhost:10000/api/Lip', true);
                xhr.send(formData);
                connection.invoke("RegisterForProcessingStatusUpdate", "message").catch(function (err) {
                    return console.error(err.toString());
                });
            }
        }
    })    

    var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:10000/lipHub").build();

    //Disable send button until connection is established  
    app.canSubmit = false;
    connection.start().then(function () {
        app.canSubmit = true;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    connection.on("OnUpdateProcessingStatus", function (status) {        
        console.log(status);
        app.statuses.push(status);
    });
    
</script>